html, body {
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;
	background: #4C4A48;
}

nav.side-nav {
	display: block;
	background: #515C6B;
	position: absolute;
	z-index: 998;
	top: 0;
	left: 0;
	bottom: 0;
}

nav.side-nav > ul {
	display: block;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 999;
	transition: width .25s ease-in-out;
}

nav.side-nav.collapsed > ul {
	width: 46px;
}

nav.side-nav > ul.bottom {
	position: absolute;
	bottom: 0;
}

nav.side-nav > ul > li > a {
	font-size: 1em;
	display: block;
	line-height: 46px;
	height: 46px;
	text-decoration: none;
	color: #ffffff;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
nav.side-nav.collapsed > ul > li > a {
	text-overflow: clip;
}

nav.side-nav > ul > li > a.menu-collapse {
	background-color: #68768A;
}

nav.side-nav > ul > li > a > span:nth-child(1) {
	vertical-align: middle;
	font-size: 24px;
	display: inline-block;
	width: 46px;
	text-align: center;
}