<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>About TTVST</title>

		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://* data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; font-src 'self' https://static2.sharepointonline.com https://spoprod-a.akamaihd.net">
		<style type="text/css" id="stylesheet">html, body { background:#121212; }</style>
		<script type="application/javascript" src="../dist/view-helper.js"></script>
	</head>
	<body class="page-about" dir="ltr">
		<table style="width:100%;height:100%;">
			<tr>
				<td style="text-align: center;vertical-align:middle;">
					<p>
						<img src="../res/img/logo-stacked.svg" style="height:200px;width:247px;" alt="">
					</p>
					<p>
						TTVStreamerTool was created by <a onclick="openLinkExternal('https://pakl.dev/')">Pascal Pohl</a><br>
						<small>You currently have version <code id="appversion"></code> installed.</small>
					</p>
					<p>
						The TTVStreamer logo was created by <a onclick="openLinkExternal('https://github.com/anharismail')">Anhar Ismail</a>
					</p>
					<p styl="font-weight:bold;">* * *</p>
					<p>
						Twitch and the Twitch logo are registered trademarks<br>
						by Twitch Interactive, Inc. They are used as permitted and<br>
						instructed by the <a onclick="openLinkExternal('https://www.twitch.tv/p/legal/trademark/')">Trademark Usage Guidelines</a>.
					</p>
					<p styl="font-weight:bold;">* * *</p>
					
					TTVStreamerTool is licensed under the open source MIT license:
<pre>
Copyright 2017-2020 Pascal «PakL» Pohl

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</pre>

				</td>
			</tr>
		</table>
		<script>
			ipcRenderer.invoke('get-app-version').then((version) => {
				document.querySelector('#appversion').innerText = version;
			})
		</script>
	</body>
</html>