<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TTVST Changelog</title>
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'">

		<style type="text/css" id="metro-style"></style>
		<script type="application/javascript">
			const {remote} = require('electron')
			const {systemPreferences, app} = remote
			const fs = require('fs')
			const less = require('less')
			const path = require('path')
		</script>
		<script type="application/javascript" src="../res/js/metro.js"></script>
	</head>
	<body>
		<p>This changelog will only be served in english.</p>
		<h3>1.5.<span class="highlight">3</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Added an option to show new messages on top</li>
		</ul>
		<h3>1.5.<span class="highlight">2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed logo not showing in splash screen</li>
		</ul>
		<h3>1.<span class="highlight">5</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Removing cloud token when logging out</li>
			<li>Overlay websocket commands on subscription basis to reduce ws traffic</li>
			<li>Restructuring of some code files</li>
		</ul>
		<hr>
		<h3>1.<span class="highlight">4</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Updating to electron 6</li>
			<li>Added cloud saving for settings</li>
		</ul>
		<hr>
		<h3>1.3.<span class="highlight">4</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Check for addon updates without restarting tool</li>
			<li>Added mime types to overlay http responses</li>
		</ul>
		<h3>1.3.<span class="highlight">3</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Let overlay load files by absolute path</li>
		</ul>
		<h3>1.3.<span class="highlight">2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Added permission scopes for whispers (if whispers do not work any respond with a permission denied message, please log out and back in)</li>
			<li>Quicker channel join, badges might not be immediately visible</li>
			<li>Fixed game not showing on clip embed</li>
		</ul>
		<h3>1.3.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Finally fixing the splash screen not closing when window was maximized</li>
			<li>Recovering last window position more reliable</li>
		</ul>
		<h3>1.<span class="highlight">3</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Embeded clips similar to the official twitch chat</li>
		</ul>
		<hr>
		<h3>1.2.<span class="highlight">5</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Since no more host messages is no longer sent on a host, check what user was playing on raid</li>
			<li>Other dependencies updates</li>
		</ul>
		<h3>1.2.<span class="highlight">4</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixing error where destroying the splash screen produces a error message when splash screen closed itself earlier</li>
		</ul>
		<h3>1.2.<span class="highlight">3</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixing emotes in /me messages</li>
			<li>Adding current page in window title</li>
			<li>Closing splash after 5 seconds from splash itself (a user still reported issues)</li>
		</ul>
		<h3>1.2.<span class="highlight">2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Hopefully fixing an issue with the new splash screen, that never closes - part 2</li>
		</ul>
		<h3>1.2.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Hopefully fixing an issue with the new splash screen, that never closes</li>
		</ul>
		<h3>1.<span class="highlight">2</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Nicer start up, splash screen waits for main window to finish loading</li>
			<li>Support for /marker command</li>
		</ul>
		<hr>
		<h3>1.1.<span class="highlight">2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Login now uses new authentication site and no longer uses deprecated permission scopes</li>
			<li>Fixed some broken links</li>
			<li>Fixed accent color changes not applying</li>
			<li>Fixed some issues with double follow alert or repeating game status changes</li>
			<li>New application icon, splash screen and install gif</li>
		</ul>
		<h3>1.1.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>TTVStreamerTool will no longer be displayed as Electron in Task Manager</li>
		</ul>
		<h3>1.<span class="highlight">1</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Added bot badge powered by FrankerFaceZ</li>
			<li>Fixed issue that prevented messages from being deleted</li>
			<li>Clearing emote search via the 'x' will now display all emotes properly</li>
			<li>Auto scroll notification</li>
			<li>Don't process empty messages</li>
			<li>Removing the 'reward' system message from reward gift messages</li>
		</ul>
		<hr>
		<h3>1.0.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed an issue with transfering addons from old version that might also broke addon updates</li>
		</ul>
		<h3><span class="highlight">1</span>.0.0 <small><code class="tag">major</code></small></h3>
		<ul>
			<li>New animations on channel overview</li>
			<li>Instead of highlighting deleted messages they will be slightly faded out</li>
			<li>Lighten accent font color to be readable with darker accent colors</li>
			<li>Fixing an issue with spamming refresh in channel view</li>
			<li>Fixing select elements start at the right default value</li>
			<li>Start application in right language by default (always falls back to English)</li>
			<li>New riotjs version and all it's changes (this will also improve performance significantly; but also break most plugins)</li>
			<li>Better loading screens</li>
			<li>Display incompatible addons in red</li>
			<li>Minor performance tweak by disabling red dot notification animation</li>
			<li>Better addon handling<ul><li>addon installation without restart</li><li>batch update</li><li>batch uninstall</li></ul></li>
			<li>Fixed window state not saving</li>
		</ul>
		<hr>
		<h3>0.10.<span class="highlight">7</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed an issue where multiple emote addons could replace the same emote and cause issues</li>
		</ul>
		<h3>0.10.<span class="highlight">6</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixing Unicode emoji destroying everything for your messages</li>
			<li>Single instance lock to avoid issues</li>
			<li>Timeout handling and faster reconnecting
				<ul>
					<li>If no message was received from server for 30 seconds the connection is tested by forcing the server to respond (simple PING-PONG exchange)</li>
					<li>Disconnects are now immediately reconnected. If more retries are needed, they will be spaced out more and more (up to 5 seconds).</li>
				</ul>
			</li>
		</ul>
		<h3>0.10.<span class="highlight">5</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Made some changes to the stylesheet load, to make it easier for addons to use it</li>
			<li>Fixing Unicode emoji destroying everything</li>
			<li>Fixed emotes in resub messages</li>
			<li>Fixing some layout issues in classic chat</li>
		</ul>
		<h3>0.10.<span class="highlight">4</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed not displaying last played game by hoster on raid</li>
		</ul>
		<h3>0.10.<span class="highlight">3</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed various issues with cockpit resizing</li>
			<li>Fixed auto scrolling on resizing</li>
			<li>Display the game a hosting channel was playing last (if possible to obtain)</li>
		</ul>
		<h3>0.10.<span class="highlight">2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Did some more testing in a real environment, addon updating should work flawlessly now </li>
		</ul>
		<h3>0.10.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Hopefully making addon updates, uninstalls more stable</li>
			<li>Better debug logging</li>
		</ul>
		<h3>0.<span class="highlight">10</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Allow channel specific settings</li>
			<li>Add an optional classic chat view</li>
		</ul>
		<hr>
		<h3>0.9.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed a bug that prevented the emoticon drawer to open</li>
		</ul>
		<h3>0.<span class="highlight">9</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Electron updated to 4.1.4</li>
			<li>Added a way to resize the columns in the cockpit view (pull the left edge of each column; the cursor will change; double click the edge to reset)</li>
			<li>Added a way to zoom each column in the cockpit view with holding the Ctrl-Key and moving the mouse wheel; while holding Ctrl, click the mouse wheel to reset</li>
			<li>Fixed dark theme in pop out user moderation window</li>
		</ul>
		<hr>
		<h3>0.8.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Added support for cumulative subscription counter</li>
		</ul>
		<h3>0.<span class="highlight">8</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Added Twitch moderation popout (use /user &lt;username&gt; or the new "Moderation" option in the user context menu)</li>
		</ul>
		<hr>
		<h3>0.7.<span class="highlight">6</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed a bug where when a message was deleted at least twice it was not recoverable</li>
			<li>Fixed user context menu not working properly</li>
		</ul>
		<h3>0.7.<span class="highlight">5</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>You can now hide subscription messages from chat</li>
			<li>Room state (e.g. slow mode, subscriber only, etc.) will now be displayed in message input</li>
			<li>Emote filter will now filter every emote-only message even if it has less than 3 emotes</li>
			<li>A emote stream can now be displayed if emote filter is active that displayes emotes below the chat in a single row, so you can still get chat reactions</li>
		</ul>
		<h3>0.7.<span class="highlight">4</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Channel owner should also be moderator, wouldn't you say?</li>
		</ul>
		<h3>0.7.<span class="highlight">3</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Message delete button moved to the far right</li>
			<li>Message delete button shows only if message deletion is possible</li>
			<li>Fixed timeout/ban message not showing in action stream when no ban reason was set</li>
		</ul>
		<h3>0.7.<span class="highlight">2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Show games in channel overview</li>
			<li>Allow user to select text in chat</li>
			<li>Support for single message deletion</li>
		</ul>
		<h3>0.7.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Allow for overlay clients from other locations to connect to websocket</li>
			<li>Localization of reconnection message</li>
			<li>IRC communication secured via TLS</li>
		</ul>
		<h3>0.<span class="highlight">7</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Electron version updated to 3.0.4 <ul><li>This means that the button for clip creation in the twitch player should work now</li></ul></li>
			<li>Unexpected disconnects from TMI (Twitch Messaging Interface) are now being reconnected properly</li>
		</ul>
		<hr>
		<h3>0.<span class="highlight">6</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Added a overlay command to skip a track in the music overlay</li>
			<li>Music overlay now has a better initial shuffle</li>
			<li>Music overlay volume control is now updating itself again</li>
			<li>A completely new countdown overlay</li>
		</ul>
		<hr>
		<h3>0.5.<span class="highlight">2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>API call is retried on a server error</li>
			<li>On an API error the channel is not considered offline but in the state of the last request</li>
		</ul>
		<h3>0.5.<span class="highlight">1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed the non-working login</li>
		</ul>
		<h3>0.<span class="highlight">5</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Make it possible for addons to replace for example custom emotes in messages</li>
			<li>Removed OK button from addon (un)install dialog</li>
		</ul>
		<hr>
		<h3>0.<span class="highlight">4</span>.0 <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Press F5 on follows page to refresh</li>
			<li>Option to hide viewer amount</li>
			<li>Made it less likely that the viewerplotter is not plotting right</li>
			<li>Changing versioning policy to Major.Minor.Patch</li>
			<li>Added this Changelog</li>
			<li>Adding update eye catcher for addons and changelog</li>
		</ul>
		<hr>
		<h3>0.3.<span class="highlight">11</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Stop tile grid to flow off the grid</li>
			<li>Add streamelements as a known bot to filter out</li>
			<li>Performance adjustments for the user list</li>
			<li>Properly remove player when channel goes offline</li>
			<li>Keep the @ when mentioning a user</li>
			<li>Finally keeping the viewer-plotter from "floating"</li>
			<li>You can now follow a host by clicking on the channel name</li>
			<li>Fixing stream status and game update not working</li>
		</ul>
		<h3>0.3.<span class="highlight">10</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Autocomplete now works again with stream player active</li>
			<li>Fullscreen now hides the sidebar and can be activated by pressing F11</li>
		</ul>
		<h3>0.3.<span class="highlight">9</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Helix hybrid mode: The new twitch api named Helix is now used where I was able to apply it. For anything else the old twitch api is used.</li>
			<li>Offline follows will be grayscaled</li>
			<li>Added an option to hide notification/action stream</li>
			<li>You can now open a twitch stream player by clicking on the bar above the chat when channel is online</li>
			<li>Two basic chat filters are now available to help you keep track of important stuff</li>
		</ul>
		<h3>0.3.<span class="highlight">7</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Updated electron to version 2.0.0</li>
		</ul>
		<p>
			With the Electron 2.0.0 came a feature to hint to some possible security concerns. Complying to these some changes had to be made, making current addons incompatible. So I had to add a check to which version the addon is compatible and not load it if not. All official addons were have an update you can install to make them work again.
		</p>
	</body>
</html>