<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TTVST Changelog</title>

		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://* data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; font-src 'self' https://static2.sharepointonline.com https://spoprod-a.akamaihd.net">
		<style type="text/css" id="stylesheet">html, body { background:#121212; }</style>
	</head>
	<body class="page-changelog" dir="ltr"><script>loadTTVSTCSS();</script><div>
		<p>This changelog will only be served in English.</p>
		<p>Join the <a onclick="openLinkExternal('https://discord.gg/zZyBxr3')">TTVST Development Discord</a> to get faster and better support!</p>

		<h3><span class="highlight">2.1.8</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed issues with "Set channel informations" Twitch action</li>
			<li>Reduced some cache times</li>
		</ul>
		<h3><span class="highlight">2.1.7</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Security patch for CVE-2022-46175</li>
		</ul>
		<h3><span class="highlight">2.1.6</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Fixed several issues caused by internet connect issues</li>
			<li>Introducing new Updater/Installer</li>
		</ul>
		<h3><span class="highlight">2.1.5</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Replaced PubSub with EventSub websockets</li>
			<li>Added follow events as triggers</li>
			<li>Added Announcement action</li>
			<li>Updated Electron to version 22</li>
		</ul>
		<h3><span class="highlight">2.1.4</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Updating dependencies</li>
		</ul>
		<h3><span class="highlight">2.1.3</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Updated Electron to 17.1 - right clicking in a web frame does no longer crash the application</li>
			<li>Electron updates are now faster via a self extracting archive</li>
		</ul>
		<h3><span class="highlight">2.1.2</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Added tray icon to close TTVST into background</li>
		</ul>
		<h3><span class="highlight">2.1.1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>Updated Electron to 15.1 for the Let's Encrypt root certificate fix</li>
			<li>Twitch login token will now be saved securely by encrypting it</li>
		</ul>
		<h3><span class="highlight">2.1.0</span> <small><code class="tag">minor</code></small></h3>
		<ul>
			<li>Updated Electron to 15</li>
			<li>Updated other dependencies</li>
			<li>Made changes for those updates</li>
		</ul>
		<h3><span class="highlight">2.0.1</span> <small><code class="tag">patch</code></small></h3>
		<ul>
			<li>JSON-Stringify all non-strings in error log</li>
			<li>Fix some visual problems in action select inputs</li>
		</ul>
	</div></body>
</html>