<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TTVStreamerTool</title>
		
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://* data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; font-src 'self' https://static2.sharepointonline.com https://spoprod-a.akamaihd.net">
		<link rel="stylesheet" href="../res/style/main.css">
	</head>
	<body class="ms-Fabric" dir="ltr">
		<div id="wrapper"></div>

		<script>var exports = {"__esModule": true};</script>
		<script type="application/javascript">
			const TTVST = new (require('../dist/TTVST/TTVST.js')).TTVST()
		</script>
	</body>
</html>