<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">
			html, body {
				margin: 0;
				padding: 0;
				background: #ffffff;
				color: #6441a4;
				font-family: sans-serif;
				font-size: 7pt;
				overflow: hidden;
				text-align: center;

				-webkit-user-select: none;
				-webkit-app-region: drag;
			}
			p {
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<img src="../res/hourglass.gif" style="width:130px;height:130px;"><br>
		<p>Please wait...</p>

		
		<script type="application/javascript">
			const fs = require('fs')
			const originalFs = require('original-fs')
			const path = require('path')
			const {remote} = require('electron')
			const {app, autoUpdater} = remote.require('electron')
			const thisWindow = remote.getCurrentWindow()
			const msgOutput = document.querySelector('p')
			const {exec} = require('child_process')
			
			//thisWindow.webContents.openDevTools()

			let startUpdate = function() {
				autoUpdater.on('error', (e) => {
					msgOutput.innerText = 'There was an error :('
					setTimeout(() => {
						thisWindow.close()
					}, 2000)
				})
				autoUpdater.on('update-available', () => {
					msgOutput.innerText = 'Loading update...'
				})
				autoUpdater.on('update-not-available', () => {
					msgOutput.innerText = 'No update!'
					thisWindow.close()
				})
				autoUpdater.on('update-downloaded', () => {
					msgOutput.innerText = 'Installing update now...'
					autoUpdater.quitAndInstall()
				})


				if(process.argv.indexOf('--squirrel-firstrun') >= 0) {
					thisWindow.close()
				} else {
					msgOutput.innerText = 'Checking for update...'
					autoUpdater.checkForUpdates()
				}
			}

			let thisExecDir = path.dirname(process.execPath)
			let appsDir = path.resolve(thisExecDir, '../')
			console.log(appsDir)
			msgOutput.innerText = 'Checking for old addons...'
			fs.readdir(appsDir, (err, files) => {
				if(err) {
					startUpdate()
					return
				}

				let reinstalledAddon = false

				files.forEach((file) => {
					if(!file.startsWith('app-')) return
					if(file == 'app-' + app.getVersion()) return
					try {
						let appfolder = path.join(appsDir, file)
						let stats = fs.lstatSync(appfolder)
						if(stats.isDirectory()) {
							fs.accessSync(path.join(appfolder, 'resources'))
							let appResources = fs.readdirSync(path.join(appfolder, 'resources'))
							appResources.forEach((resource) => {
								if(resource.toLowerCase().endsWith('.asar') && ['app.asar', 'default_app.asar', 'electron.asar'].indexOf(resource.toLowerCase()) < 0) {
									try {
										if(!originalFs.existsSync(path.join(thisExecDir, 'resources', resource))) {
											originalFs.renameSync(path.join(appfolder, 'resources', resource), path.join(thisExecDir, 'resources', resource))
											reinstalledAddon = true
										}
									} catch(er) {}
								}
							})
						}
					} catch(e) {
						console.error(e)
					}
				})

				startUpdate()
			})
		</script>
	</body>
</html>