<footer class="container-fluid py-4">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-4 text-center">
			<img src="/assets/img/logomark-white.svg" style="width:50%;max-width:200px;margin:auto;margin-bottom:20px;" alt="">
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			TTVStreamerTool was a tool made for Twitch streamers to make things easier.
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<p>
				See also:<br>
				<a href="https://pakl.dev" target="_blank">pakl.dev</a> <span class="icon-new-tab"></span><br>
				<a href="https://dieweltzockt.de" target="_blank">Die Welt Zockt</a> <span class="icon-new-tab"></span>
			</p>
		</div>
	</div>
</footer>
