<nav class="navbar navbar-expand-md navbar-dark bg-lighter">
	<a class="navbar-brand" href="/">
		<img src="/assets/img/original-horizontal.svg" style="height:30px;width:auto;" class="d-inline-block align-top" alt="">
		<span class="sr-only">TTVStreamerTool</span>
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-main">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
			<li class="nav-item"><a class="nav-link" href="/manual/">Manual</a></li>
			<li class="nav-item"><a class="nav-link" href="https://discord.gg/zZyBxr3" target="_blank">Discord <span class="icon-new-tab"></span></a></li>
		</ul>
	</div>
</nav>