<LoginComponent>
	<div class="avatar">
		<img src={ state.avatarUrl } alt="" />
	</div>
	<div class="loginstatus" if={ !state.waiting &&  !state.loggedin }>
		<strong class="loginname accent-contrast-font">{ __('Not logged in') }</strong>
		<p class="logintext">{ __('Please log in to twitch to use the TTVStreamerTool to its full potential.') }</p>
		<button type="button" onclick={ onLoginClick }>{ __('Login via Twitch') }</button>
	</div>
	<div class="loginstatus" if={ !state.waiting &&  state.loggedin }>
		<strong class="loginname accent-contrast-font">{ state.loginName }</strong>
		<p class="logintext">{ __('Logged in and ready to use the TTVStreamerTool.') }</p>
		<button type="button" onclick={ onLogoutClick }>{ __('Logout') }</button>
	</div>
	<div class="loginstatus" if={ state.waiting }>
		<strong class="loginname accent-contrast-font">{ __('Waiting...') }</strong>
		<p class="logintext">{ __('Something is happening right now. Please wait.') }</p>
		<button type="button" disabled>{ __('...') }</button>
	</div>
	
	<style>
		:host {
			display: block;
			width: 50%;
			max-width: 50%;
			margin: 20px auto;
			padding: 10px;
			background: rgba(255,255,255, 0.01);
			border: 1px solid rgba(0,0,0, 0.3);
		}

		:host > div {
			vertical-align: top;
		}

		.avatar {
			display: inline-block;
			height: 120px;
			width: 120px;
			text-align: center;
			line-height: 120px;
		}
		.avatar > img {
			max-height: 100%;
			max-width: 100%;
		}

		.loginstatus {
			display: inline-block;
			width: calc(100% - 130px);
			margin-left: 10px;
		}
		.loginstatus > .logintext {
			margin: 8px 0;
		}
		.loginstatus > button {
			display: block;
			text-align: center;
			width: 100%;
		}
	</style>

	<script>
		export default {
			avatar_url: 'https://static-cdn.jtvnw.net/user-default-pictures-uv/cdd517fe-def4-11e9-948e-784f43822e80-profile_image-300x300.png',

			loginCallback: null,
			logoutCallback: null,

			onBeforeMount(props, state) {
				this.__ = global.TTVST.i18n.__;
				this.state = Object.assign({ waiting: false, loggedin: false, loginName: '', avatarUrl: this.avatar_url }, state);
			},

			onBeforeUpdate(props, state) {
				if(!state.loggedin) {
					this.state.avatarUrl = this.avatar_url;
				}
			},

			setLoginCallback(callback) {
				if(typeof(callback) == 'function') {
					this.loginCallback = callback;
				}
			},
			setLogoutCallback(callback) {
				if(typeof(callback) == 'function') {
					this.logoutCallback = callback;
				}
			},

			onLoginClick() {
				if(typeof(this.loginCallback) == 'function') {
					this.loginCallback();
					this.update({ waiting: true });
				}
			},
			onLogoutClick() {
				if(typeof(this.logoutCallback) == 'function') {
					this.logoutCallback();
					this.update({ loggedin: false });
				}
			}
		}
	</script>
</LoginComponent>