{%- if page.description -%}
	{%- assign desc = page.description -%}
{%- else -%}
	{%- assign desc = "TTVStreamerTool (TTVST) is an application aimed at Twitch streamer. Since the first major version TTVStreamerTool has transformed from a chat tool with some HTTP overlays to an automation tool, though you may choose to use it in another way." -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TTVStreamerTool &bull; {{ page.title }}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ desc | escape }}">

		<meta property="og:title" content="TTVStreamerTool &bull; {{ page.title }}">
		<meta property="og:description" content="{{ desc | escape }}">
		<meta property="og:image" content="https://ttvst.app/assets/img/logomark.png">
		<meta property="og:image:width" content="300">
		<meta property="og:image:height" content="283">


		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
	</head>
	<body>
		{% include header.html %}

		<section id="content" class="bg-pakl py-4">
			{{ content }}
		</section>

		{% include footer.html %}
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
