
nav.side-nav {
	display: block;
	background: fade($accentColor, 70%);
	position: absolute;
	z-index: 998;
	top: 0;
	left: 0;
	bottom: 0;
	backdrop-filter: blur(10px);
	box-shadow: 0 5px 5px rgba(0,0,0, 0.7);
	
	ul {
		display: block;
		width: 250px;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 999;
		transition: all .1s ease-out;

		li {
			padding: 1px;
			background: $accentColor;

			a {
				background: $accentColor;
				cursor: default;
				font-size: 1em;
				display: block;
				line-height: 46px;
				height: 46px;
				text-decoration: none;
				color: $globalBackground;
				transition: all .1s ease;
			
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				position: relative;
				padding-left: 46px;

				i:nth-child(1) {
					font-size: 16px;
					display: block;
					width: 46px;
					line-height: 46px;
					text-align: center;
					position: absolute;
					top: 0;
					left: 0;
				}

				span.update {
					display: block;
					position: absolute;
					width: 10px;
					height: 10px;
					border: 1px solid rgba(255, 255, 255, 0.5);
					background: red;
					border-radius: 50%;
					box-shadow: 0 0 5px rgba(0,0,0, 0.7);
					top: 6px;
					left: 30px;
				}
			}
			a::before {
				white-space: pre;
				content: ' ';
			}

			a:hover {
				background-color: darken($accentColor, 6%);
			}

			a.menu-collapse {
				background-color: darken($accentColor, 10%);
			}
		}
	}

	ul.bottom {
		position: absolute;
		bottom: 0;
	}

	ul.submenu {
		width: 0;
		position: absolute;
		left: 48px;
		top: 48px;
		background: lighten($accentColor, 3%);
		transition: width .1s ease-in-out;

		li {
			text-indent: 5px;
		}
	}
	ul.submenu.open {
		width: 204px !important;
	}
}

nav.side-nav.collapsed {
	background: $accentColor;
	box-shadow: none;

	ul {
		width: 48px;

		li {
			a {
				text-overflow: clip;
			}
		}
	}
	ul.submenu {
		width: 0px;
	}
}