input[type=checkbox] {
	display: inline-block;
	width: auto;
	-webkit-appearance: none;
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	vertical-align: middle;
	
	&::before {
		font-family: FabricMDL2Icons;
		content: '\E739';
		font-size: 1.8em;
		color: lighten($globalBackground, 30%);

		transition: color 0.5s;
	}
	&:hover::before {
		content: '\E73A';
		color: lighten($globalBackground, 60%);
	}
	&:checked::before, &:checked:hover::before {
		content: '\E73D';
		color: $accentColorContrast;
	}
}

label.win10-switch {
	input[type=checkbox] {
		&::before {
			content: '';
			font-size: 3em;
			color: lighten($globalBackground, 30%);
		}
		&+ span::before {
			content: 'Off';
			color: lighten($globalBackground, 30%);
		}
		&+ span.lang-de::before {
			content: 'Aus';
		}
		&:hover::before {
			content: '';
			color: lighten($globalBackground, 60%);
		}
		&:checked::before, &:checked:hover::before {
			content: '';
			color: $accentColorContrast;
		}
		&:checked + span::before {
			content: 'On';
			color: $accentColorContrast;
		}
		&:checked + span.lang-de::before {
			content: 'An';
		}
	}
}
settingsinput > label.win10-switch, modal .form > label.win10-switch, modal .form > * > label.win10-switch {
	input[type=checkbox] {
		&+ span::before {
			position: absolute;
			margin-top: -2.5em;
			margin-left: 60px;
		}
	}
}